<a href="/gabble">Gabble</a>
<a href="/newgab">Create A New Gab</a>
<a href="#">Logged in as {{#username}}{{username}}{{/username}}</a>
<a href="/logout">Logout</a> <hr>

{{#username}}
<h1>{{username}}</h1>
{{/username}}
{{#messages}}
     {{username}}:{{text}}
      <p>{{createdAt}}</p>

      <p>
        <a href="/delete/{{id}}">Delete</a>
        <a href="/like/{{id}}">Like</a>
        <a href="/view/{{_id}}">View</a>
      </p>
    
    {{^messages}}
      <p>There are no messages.</p>
    {{/messages}}
<br>
{{/messages}}
