<a href="/gabble">Gabble</a>
<a href="/newgab">Create A New Gab</a>
<a href="#">Logged in as {{#username}}{{username}}{{/username}}</a>
<a href="/logout">Logout</a>

{{#username}}
<h1>{{username}}</h1>
{{/username}}

{{#messages}}
<hr>
    <h2>{{creator}}</h2>  <br> {{text}}
      <p>
        <a href="/destroy/{{id}}">Delete</a>
        <a href="/likey/{{id}}">Likes</a>
          <a href="/message/{{id}}"></a> - <span>{{likey}}</span>
      </p>
    <p>{{createdAt}}</p>

  <form action="/{{id}}/wholiked" method="post">
    <p><button type="submit" name="button">Who Liked:</button>{{likes}}</p>
  </form>
    {{^messages}}
      <p>There are no messages.</p>
    {{/messages}}

{{/messages}}
