<a href="/gabble">Gabble</a>
<a href="/newgab">Create A New Gab</a>
<a href="#">Logged in as {{user.dataValues.name}}</a>
<a href="/logout">Logout</a>


<h1>{{user.dataValues.name}}</h1>


{{#message}}
  <hr>
  <h2>{{username}}</h2>  <br> {{text}}
    <p>

      <!-- <a href="/likey/{{id}}">Likes</a> -->
      <p>{{likes.length}}-Likes</p>
      <!-- <a href="/message/{{id}}"></a> - <span>{{likey}}</span> -->
    </p>
  <p>{{createdAt}}</p>
  <form action="/like/{{id}}" method="post">
    <p><button type="submit" name="button">Like Post:</button></p>
  </form>
    <a href="/wholiked/{{id}}"<button type="submit" name="button">Who Liked:</button></a>


  {{#delete}}

  <a href="/destroy/{{id}}">Delete</a>
  {{/delete}}
{{/message}}

{{^message}}
  <p>There are no messages.</p>
{{/message}}
