<form  action="/" method="post">
  <a href="/signup">Signup</a>
  <input type="text" name="username" placeholder="Username">
  <input type="password" name="password" placeholder="Password">
  <button type="submit" name="button">Login</button>
</form>
